body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 15px;
}

#login-area {
  padding: 10px;
}

.hidden {
  display: none;
}

#map {
  width: 100%;
  height: 500px;
  margin-top: 10px;
}

#report-form {
  background: #f1f1f1;
  padding: 15px;
  margin: 15px;
  border-radius: 8px;
}

#report-form textarea,
#report-form input,
#report-form select {
  width: 100%;
  margin-bottom: 10px;
}

.btn-ubicacion {
  width: 100%;
  padding: 15px;
  background: green;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
